* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #0F0F0F;
  color: #E5E5E5;
  font-family: Hiragino Mincho ProN W3;
}

.no-wrap{
  display: inline-block;
}

#splash {
  /*fixedで全面に固定*/
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #0f0f0f;
  text-align: center;
  color: #e5e5e5;
}

#splash_text{
  position: absolute;
  font-size: 21px;
  font-family: Didot;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#splash_count {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  width: 70%;
  transform: translate(-50%, -50%);
  color: #e5e5e5;
}

.toggle_btn {
  display : block;
  position: fixed;
  z-index : 10;
  right : 5%;
  top   : 30px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}
.toggle_btn span {
  display : block;
  position: absolute;
  width   : 48px;
  height  : 1px ;
  background : #E5E5E5;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}
.toggle_btn span:nth-child(1) {
  top: 10px;
}
.toggle_btn span:nth-child(2) {
  top: 20px;
}
.toggle_btn span:nth-child(3) {
  top: 30px;
}

/* ナビゲーション */

nav{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -300px;
  bottom: 0;
  width: 300px;
  background: #0F0F0F;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all .5s;
  z-index: 3;
  opacity: 0;
}

.open nav{
  right: 0;
  opacity: 1;
}
nav .global-Menu {
  padding: 25px;
}
nav .global-Menu ul {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav .global-Menu ul li {
  position: relative;
  margin: 0;
}
nav .global-Menu ul li a {
  border-bottom: solid 1px #0f0f0f;
  display: block;
  color: #E5E5E5;
  font-family: Didot;
  font-size: 24px;
  padding: 1em;
  text-decoration: none;
  transition-duration: 0.2s;
}
nav .global-Menu ul li a:hover {
  border-bottom: solid 1px #691515;
  box-sizing: border-box;
}

.open .toggle_btn {
  right: 5%;
  z-index: 10;
}
.open .toggle_btn span:nth-child(1) {
  transform: translate(0, 10px) rotate(-45deg);
  animation: unset;
}
.open .toggle_btn span:nth-child(2) {
  opacity: 0;
  animation: unset;
}
.open .toggle_btn span:nth-child(3) {
  transform: translate(0, -10px) rotate(45deg);
  animation: unset;
}


#mask {
  display: none;
  transition: all .5s;
}
.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 2;
  cursor: pointer;
}

/* メインビジュアル */

.scrolldown1{
  /*描画位置※位置は適宜調整してください*/
  position:absolute;
  left:50%;
  bottom:10px;
  /*全体の高さ*/
  height:50px;
}

.scrolldown1 p{
  transform: translate(-50%,-50%);
  padding-bottom: 18px;
}

/*Scrollテキストの描写*/
.scrolldown1 span{
  /*描画位置*/
  position: absolute;
  left:-15px;
  top: -15px;
  /*テキストの形状*/
  color: #eee;
  font-size: 1.3rem;
  letter-spacing: 0.05em;
}

/* 線の描写 */
.scrolldown1::after{
  content: "";
  /*描画位置*/
  position: absolute;
  top: 0;
  /*線の形状*/
  width: 1px;
  height: 30px;
  background: #eee;
  /*線の動き1.4秒かけて動く。永遠にループ*/
  animation: pathmove 1.4s ease-in-out infinite;
  opacity:0;
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove{
0%{
  height:0;
  top:0;
  opacity: 0;
}
30%{
  height:30px;
  opacity: 1;
}
100%{
  height:0;
  top:50px;
  opacity: 0;
}
}

.main-visual h1 {
  width: 100%;
  font-family: Didot;
  font-size: 104px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  color:#e5e5e5;
  text-shadow: 0 0 15px #666;
  text-align: center;
}

img.main-visual-title {
  position: fixed;
  top: 30px;
  left: 5%;
}

.main-visual{
  width:100%;
  height: 97vh;
  position: relative;
}

.main-visual:before{
  content: '';
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
  width:100%;
  height: 100vh;
  /*背景画像設定*/
  background: url("images/topvisual.jpg") no-repeat center center;
  background-size: cover;
}

#container{
  position: relative;
  z-index:1;
  background: #0f0f0f;
  padding: 2rem 0;
}

/* 紹介文 */

.introduction{
  text-align: center;
  margin: 8rem 1rem;
  font-size: 20px;
}

p.introduction-read{
  margin-bottom: 27px;
  font-family: Hiragino Mincho ProN W6;
}

.main-visual-scroll{
  display: block;
  width: 50%;
}

.main-visual-scroll span{
  display: block;
  width: 0.7px;
  height: 250px;
  background-color: #E5E5E5;
}

/* 各見出し */

.concept, .news, .product{
  text-align: center;
  margin-bottom: 7.6rem;
}

.concept-title, .news-title, .product-title{
  font-family: Didot;
  font-size: 64px;
  margin-bottom: 9px;
}

.concept-subtitle, .news-subtitle, .product-subtitle{
  font-size: 18px;
  margin-bottom: 60px;
}

.title-span{
  color: #8C1B1B;
}

/* コンセプト */

.concept-text{
  margin: 40px;
}

/* ニュース */

.news-list-div{
  display: flex;
  justify-content: center;
}

.news-list-div ul{
  width: 75%;
}

.news-list1, .news-list2{
  display: flex;
  align-items: center;
  padding: 2.5rem 0;
  border-top: 0.7px solid #e5e5e5;
}

.news-list2{
  border-bottom: 0.7px solid #e5e5e5;
}

.news-date{
  margin-right: 2.75rem;
}

/* プロダクト */

.product-name-list{
  display: flex;
  justify-content: center;
  margin-bottom: 110px;
}

.product-name-list li{
  display: flex;
  margin: 0 1.5rem;
}

.product-name-list a{
  text-decoration: none;
  color: #e5e5e5;
}

.Name p{
  margin-right: 10px;
  color: #8C1B1B;
}

.Name h3{
  font-family: Didot;
  font-size: 34px;
  padding-bottom: 8px;
  border-bottom: 0.7px solid #E5E5E5;
}

/* グリッドレイアウト */

#vanity, #haruka, #azisai, #hero{
  display: grid;
  justify-content: center;
  grid-template-rows: 350px 350px;
  grid-template-columns: 390px 160px 390px;
  margin-bottom: 10%;
}

#vanity img, #haruka img, #azisai img, #hero img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.v-four-mobile, .h-four-mobile,
.a-four-mobile, .e-four-mobile{
  display: none;
}

.v-one h2, .h-two h2, .a-one h2, .e-two h2{
  font-family: Didot;
  font-size: 64px;
}

.v-one p, .h-two p, .a-one p, .e-two p{
  font-family: Hiragino Mincho ProN W3;
  font-size: 21px;
  margin-bottom: 40px;
}

.v-one{
  grid-row: 1;
  grid-column: 1/3;
  padding: 3rem;
  background-color: #563D66;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.a-one{
  grid-row: 1;
  grid-column: 1/3;
  padding: 3rem;
  background-color: #8B9CA5;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.v-two, .a-two{
  grid-row: 1;
  grid-column: 3;
}

.v-three, .a-three{
  grid-row: 2;
  grid-column: 1/2;
}

.v-four, .a-four{
  grid-row: 2;
  grid-column: 2/4;
}

/* リバース */
.h-one, .e-one{
  grid-row: 1/2;
  grid-column: 1;
}

.h-two{
  grid-row: 1;
  grid-column: 2/4;
  padding: 3rem;
  background-color: #5A6D55;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.e-two{
  grid-row: 1;
  grid-column: 2/4;
  padding: 3rem;
  background-color: #9C7167;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.h-three, .e-three{
  grid-row: 2;
  grid-column: 1/3;
}

.h-four, .e-four{
  grid-row: 2;
  grid-column: 3;
}

.order-button{
  align-self: flex-end;
  position: absolute;
  bottom: 7vh;
  right: 7vh;
}

.order-button a{
  position: relative;
  text-decoration: none;
  color: #E5E5E5;
  font-size: 20px;
  padding: 17px 40px;
  border: 0.7px solid #e5e5e5;
}

.order-button a::after{
  content: '';
  position: absolute;
  top: 50%;
  right: -18%;
  transform: translateY(-50%);
  width: 35%;
  height: 0.5px;
  background-color: #E5E5E5;
  transition: 0.3s;
}

.order-button a:hover::after{
  transform: translateX(5px);
}

/* 下部写真 */

.picture2{
  margin: 10px 0;
}

img.desktop-picture{
  width: 100%;
  height: 93vh;
  object-fit: cover;
  object-position: 0 70%;
}

img.mobile-picture{
  display: none;
}

/* フッター */

.footer{
  margin: 120px 0;
}

.footer-title{
  margin: 10px 0;
  text-align: center;
}

.footer-content, .footer-snsicon{
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 20px 0;
}

.footer-content li{
  margin: 0 1.5rem;
}

.footer-snsicon li{
  margin: 0 0.5rem;
}

.copy-right{
  text-align: center;
  margin-bottom: 30px;
}